/*font-family: 'Quicksand', sans-serif;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}

/*klasa clerfix będzie nadana wszystkim elementom, które mają wśród swoich dzieci floaty*/

.clearfix::after {
    content: "";
    display: block;
    clear: both;

}


body {
    font-size: 1.6rem;
}

/*header został podzielony na 4 równe części, każdy div na po 21%+4% (2 z prawej i 2 z lewej) */

header div {
    width: 23%;
    height: 20rem;
    background-color: darkgrey;
    float: left;
    margin: 1% 1%;
}

header div:nth-child(1) {
    background-image: url(../assets/funny_man.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: .3s;

}

header div:nth-child(1):hover {
    background-image: url(../assets/loki_1280x827.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

}

header div:nth-child(2) {
    background-image: url(../assets/upi%C4%99cie_300x200.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: .3s;
}

header div:nth-child(2):hover {
    background-image: url(../assets/woman-3170568_1280.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header div:nth-child(3) {
    background-image: url(../assets/musician-300x200.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: .3s;
}

header div:nth-child(3):hover {
    background-image: url(../assets/%C5%82ysy.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

header div:nth-child(4) {
    background-image: url(../assets/farbowanie_300x200.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: .3s;
}

header div:nth-child(4):hover {
    background-image: url(../assets/person-hair-head-face-human-682832.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

nav {
    background-color: #2c2b2b;
    padding-left: 3rem;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;

}

nav ul li {
    float: left;
    width: 17%;
    /*20% nava (czyli okna przeglądarki) minus  rem*/
    margin: 2rem 3rem;


}

/*najlepiej większość styli nadać już samemu a*/

/*aby a było klikalne na całej wielkości kafla li, to musimy mu nadać display:block; (wtedy będzie miał szerokość całego swojego rodzica) */

nav ul li a {
    display: block;
    color: white;
    font-size: 1.8rem;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
    border: 2px solid white;
    line-height: 4rem;
}

nav ul li a:hover {
    border: 2px solid #b44a7a;
    color: #fadef8;
}

/* a w ostatnim li ulea*/

nav ul li + li + li a {
    letter-spacing: 2px;
}

nav ul li:last-child {
    float: right;
    margin-right: 8rem;
}

nav ul li:last-child a {
    color: #01cadb;
    border: none;
    text-align: right;
    font-size: 2.8rem;
    letter-spacing: 1.3rem;
}

nav ul li:last-child a:hover {
    background-color: transparent;
    color: #89dee5;
}

/*jeżeli planujemy ustawiać elementy za pomocą floatów to najlepiej jeśli będą one miały swojego dodatkowego rodzica, który będzie służył do ustawienia klasy clearfix i wyczyszczenia floatów */


.blog {
    margin: 40px 240px;
}

main {
    width: 70%;
    float: left;
    padding-right: 30px;

    /*    background-color: pink;
    */
}

article h1 {
    text-transform: uppercase;
    font-size: 22px;
    ;
}

article img {
    width: 230px;
    float: left;
    margin: 20px 20px 30px 0;
}

article p {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
}

aside {
    width: 25%;
    height: 100px;
    float: left;

    background-color: #dbdb9b;
    margin-left: 5%;
    margin-top: 40px;

}

.button {
    width: 100vw;
    text-align: left;
    margin: 20px 0 20px 250px;
}

.button a {
    display: block;
    border: 1px solid #ef90bf;
    width: 100px;
    height: 40px;
    background-color: deepskyblue;
    /*    font-family: 'Quicksand',
    sans-serif;*/
    border-radius: 20px;
    text-align: center;
    line-height: 38px;
    text-decoration: none;
    color: white;


}


footer {
    background-color: #2c2b2b;
    text-align: center;
    margin-top: 1rem;
    height: 6rem;
}

footer a {
    text-decoration: none;
    color: antiquewhite;
    font-size: 1.6rem;
    line-height: 6rem;
}

footer a:hover {
    color: #ffcc89
}
